<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 - 목록</title>
    <link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
</head>
<body>
<header th:insert="common/header.html"></header>
<div class="container">
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
<!--            <th scope="col">#</th>-->
            <th scope="col">브랜드</th>
            <th scope="col">메인모델</th>
            <th scope="col">서브모델</th>
            <th scope="col">세부모델</th>
            <th scope="col">년식</th>
            <th scope="col">월수</th>
            <th scope="col">주행거리</th>
            <th scope="col">사고이력</th>
            <th scope="col">단순수리</th>
            <th scope="col">판매가</th>
            <th scope="col">판매여부</th>
            <th scope="col">자세히보기</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="post : ${postList}">
            <th scope="row">
<!--                <span th:text="${post.id}"></span>-->
            </th>
            <td>
                <a th:href="@{'/post/' + ${post.id}}">
                    <span th:text="${post.model}"></span>
                </a>
            </td>
            <td>
                <span th:text="${post.manufacturer}"></span>
            </td>
            <td>
                <span th:text="${post.badge}"></span>
            </td>
            <td>
                <span th:text="${post.badgedetail}"></span>
<!--                <span th:text="${#temporals.format(post.badgedetail, 'yyyy-MM-dd HH:mm')}"></span>-->
            </td>
            <td>
                <span th:text="${post.formyear}"></span>
                <!--                <span th:text="${#temporals.format(post.badgedetail, 'yyyy-MM-dd HH:mm')}"></span>-->
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <a class="btn btn-primary" th:href="@{/post}" role="button">글쓰기</a>
        </div>
    </div>
</div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>